@media screen and (max-width: 1280px) {
    .container__namber {
        padding: 30px 65px; 
    }

    .namber__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .container__project {
        padding-top: 400px;
    }

    .services__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .portfolio__grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}
@media screen and (max-width: 980px) {
    .contacts__items {
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .project__flex {
        flex-direction: column;
        align-items: center;
    }

    .request__flex {
        flex-wrap: wrap;
        gap: 20px;
    }

    .services__grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .partners__items {
        flex-direction: column;
        align-items: center;
    }
    .reviews__items {
        flex-direction: column;
    }
    .reviews__img {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .reviews__text {
        max-width: 400px;
        text-align: center;
    }
    .reviews__author {
        margin: 0;
    }
}

@media screen and (max-width: 568px) {
    .header__title {
        font-size: 40px;
        line-height: 60px;
    }
    .container__namber {
        position: relative;
    }

    .namber__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .container__project {
        padding-top: 20px;
        padding-bottom: 50px;
    }

    
}
