@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500;700&family=Work+Sans:wght@400;500;600&display=swap');

:root {
    --text-color: #999999;
    --accent-color: #F7654A;
    --black-color: #000000;
}

// font-family: 'Open Sans', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Work Sans', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #ffffffff;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

// ---------------------------------HEADER-------------

.header {
    min-height: 740px;
    padding-top: 20px;
    background-image: url(../img/intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 112px;
}

.header__logo {
    width: 60px;
    height: 60px;
}

.menu__burger {
    width: 50px;
    height: 50px;
    background: var(--accent-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__burger-liner {
    width: 21px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}


.header__content {
    justify-content: center;
}

.header__title {
    max-width: 734px;
    font-size: 64px;
    font-weight: 500;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 35px;
}

.header__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
}

// ---------------------------------NAMDERS-------------

.namders {
    position: relative;
}

.container__namber {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 300px;
    padding: 57px 130px;
    background: #F6F6F6;
}

.namber__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;  
}
.namber__grid-item {
    width: 190px;
    height: 190px;
    margin: 0 auto;
    
}
.namber__h4 {
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 25px;
}
.namber__h5 {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 10px;
}
.namber__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
}

// ---------------------------------PROJECT-------------

.container__project {
    padding-top: 200px;
    padding-bottom: 150px;
}
.project__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #404149;
    margin-bottom: 60px;
}
.project__flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.project__flex-item {
    max-width: 350px;
    max-height: 580px;
}
.project__img {
    margin-bottom: 45px;
}
.project__span {
    display: block;
    width: 55px;
    height: 6px;
   background-color: var(--accent-color) ;
   margin-bottom: 15px;
}
.project__h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #404149;
    margin-bottom: 20px;
}
.project__text {
    max-width: 350px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

// ---------------------------------request-------------

.request {
    background: var(--accent-color);
    padding-top: 30px;
    padding-bottom: 45px;
}

.request__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request__titile {
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.request__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.request__btn {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 15px;
    padding: 14px 30px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
        color: var(--accent-color);
    }
}

// ---------------------------------SERVICES-------------
.services {
    padding: 150px 0;
}
.services__grid-title {
    text-align: center;
    margin-bottom: 66px;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
}
.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;

}
.services__grid-item {
    padding: 59px 80px;
    max-width: 350px;
    max-height: 250px;
    background: #F7F7F7;
}
.services__grid-img {
    max-width: 60px;
    max-height: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.services__grid-h4 {
    max-width: 172px;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
    text-align: center;

}
// ---------------------------------PORTFOLIO-------------
.portfolio {
    padding-bottom: 150px;
}
.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

// ---------------------------------question-------------
.question {
    padding-bottom: 150px;
}

.question__title {
    font-weight: 500;
    text-align: center;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 50px;
}
.question__h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: var(--accent-color);
    margin-bottom: 30px;
}
.question__open::before,
.question__close::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
.question__open::before {
    transform: rotate(-90deg);
}

.question__close + .question__text {
    display: none;
}


.question__text {
    max-width: 730px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
    margin-bottom: 40px;
}
// ---------------------------------partners-------------
.partners {
     background: #404149;
     padding: 100px 0;

     &__title {
        text-align: center;
        font-weight: 500;
        font-size: 36px;
        line-height: 53px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 60px;
     }
     &__items {
        display: flex;
        justify-content: space-between;
        gap: 20px;
     }
}

// ---------------------------------reviews-------------
.reviews {
    padding: 150px 0;

    &__h2 {
        text-align: center;
        font-weight: 500;
        font-size: 36px;
        line-height: 53px;
        text-transform: uppercase;
        color: var(--black-color);
        margin-bottom: 60px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__info {
        background: #F7F7F7;
        padding: 50px 28px;
    }
    &__img {
        margin-bottom: 15px;
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: var(--text-color); 
    }
    &__author {
        text-align: center;
        margin-top: 30px;
        font-weight: 500;
        font-size: 21px;
        line-height: 31px;
        letter-spacing: 0.02em;
        color: var(--black-color);
    }
    &__author-color {
        color: var(--accent-color);
        padding-left: 5px;
    }
}


// ---------------------------------PORTFOLIO-------------
// ---------------------------------PORTFOLIO-------------
// ---------------------------------PORTFOLIO-------------